$light_blue  : #C7F7FF;
$med_blue    : #89C0C9;
$dark_blue   : #3a5E63;
$light_brown : #C9A689;
$dark_brown  : #7C593C;
$light_grey  : #d4d4d4;
$dark_grey   : #222;
$white       : #fff;

$font-family-main: 'Josefin Sans', 'Trebuchet MS', Helvetica, sans-serif; /* default for whole page */
$font-family-headings: Cardo, 'Palatino Linotype', 'Book Antiqua', Palatino, serif; /* serif for the headings */

$font-size-default: 16px;
$font-size-header : 1.414rem;
$font-size-cont   : 1.999rem;
$font-size-falg   : 7rem;
$font-size-sp     : 3.998rem;
$font-size-focal  : 1rem;
$font-size4       : 4rem;
$font-size-section: 2,827rem;
$font-weightLink  : 700;
$font-weightH3    : 100;
$font-weightP     : 400;